<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="top row gutters">
        <div class="col span_3 center">
          <a href="{{site.url}}">
            <img id="logo" title="{{ site.title }}" style="margin: 10px 0px"
            src="{{site.baseurl}}/public/images/logo.png"></img>
          </a>
          <h5>Computer Scientist (Artificial Intelligence)</h5>        
        </div>
        <nav class="col span_9 top-navbar">
          {% for link in site.data.links %}
          <a href="{{ link.url }}" title="{{ link.title }}"
            {% if page.title == link.title %}class="current-page"{% endif %}>{{ link.title }}</a>
          {% endfor %}
        </nav>
		<div class="col span_12 center">
			<hr>
      {% if page.title == "Home" %}
    <div class="center">
        <div class="blog-description">
          <h4>
            My name is Quang Nguyen and I work as a Freelancer specialized in Natural Language Processing
            and Machine Learning.
          </h4>
        </div>
        <hr>
    </div>
      {% endif %}
		</div>
      </header>
      {{ content }}
      <footer>
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
